body{
    background: rgb(126, 196, 196);
}

mark{
    background: tomato;
    color: white
}

/*@font-face{
    font-family: "Lobster";
    font-style: normal;
    font-weight: normal;
    src: local("Lobster"), url(/fonts/lobster.woff) format("woff");
}*/


h1{
    font-family: 'Open Sans', sans-serif;
}